/**
 * Base Styles
 */

 html {
	font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body{
  font-family: $fontPrimary;
  font-size: $fontSize;
  line-height: 1.2;
  font-weight: 400;
  color: $text;
  fill: $text;
}

input,
textarea,
select,
button {
	font: inherit;
}

.hide {
  display: none;
}
