@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$fontPrimary: 'Montserrat', sans-serif;
$fontSize: 1.4rem;


sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}