// Grid
$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $xl;

// Colors
$text: #242424;
$textPale: #333333;

// $blue: #08194F;
$blue: #2B3B4F;
// $pink: #F37321;
$pink: #A6606D;
// $land: #8B572A;
// $gas: #417505;
// $water: #4A90E2;
// $eutro: #D0021B;
// $cost: #F5A623;

/* Color Theme Swatches in Hex */
$land: #597322;
$gas: #BFA72C;
$water: #CEDEF2;
$eutro: #D97E8E;
$cost: #A68549;


// Other
$radius: 3px;
