// Grid
$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $xl;

// Colors
$text: #242424;
$textPale: #333333;

$blue: #2B3B4F;
$orange: #9C7735;
$pink: #A6606D;

$land: #608C03;
$gas: #E0BD0E;
$water: #64A0E8;
$eutro: #E6627A;
$cost: #AF7711;




// Other
$radius: 3px;
