.axis {
  stroke: rgba($blue, 0.2);
}

.axis-circle,
.axis-circle--delimiter {
  transition: all 250ms ease;
  fill-opacity: .2;
  stroke: none;
  transition: all 250ms ease;
  &.axis-circle--land,
  &.axis-circle--delimiter--land {
    fill: $land;
  }
  &.axis-circle--gas,
  &.axis-circle--delimiter--gas {
    fill: $gas;
  }
  &.axis-circle--water,
  &.axis-circle--delimiter--water {
    fill: $water;
  }
  &.axis-circle--eutro,
  &.axis-circle--delimiter--eutro {
    fill: $eutro;
  }
  &.axis-circle--cost,
  &.axis-circle--delimiter--cost {
    fill: $cost;
  }
}

.axis-circles {
  text {
    fill: $blue;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 250ms ease;
  }
  .axis-circle--delimiter {
    stroke-width: 1;
    transition: all 250ms ease;
  }
  &.axis-circles--land text { fill: $land; }
  &.axis-circles--gas text { fill: $gas; }
  &.axis-circles--water text { fill: $water; }
  &.axis-circles--eutro text { fill: $eutro; }
  &.axis-circles--cost text { fill: $cost; }
  &.active,
  &.active-tooltip {
    text {
      font-size: 1.5rem;
    }
    &.axis-circles--land text { fill: darken($land, 5%); }
    &.axis-circles--gas text { fill: darken($gas, 10%); }
    &.axis-circles--water text { fill: darken($water, 10%); }
    &.axis-circles--eutro text { fill: darken($eutro, 10%); }
    &.axis-circles--cost text { fill: darken($cost, 10%); }
    .axis-circle--delimiter {
      stroke-width: 2;
      stroke-opacity: .8;
      &.axis-circle--delimiter--land { stroke: darken($land, 5%); }
      &.axis-circle--delimiter--gas { stroke: darken($gas, 5%); }
      &.axis-circle--delimiter--water { stroke: darken($water, 5%); stroke-opacity: 1;}
      &.axis-circle--delimiter--eutro { stroke: darken($eutro, 5%); }
      &.axis-circle--delimiter--cost { stroke: darken($cost, 5%); }
    }
  }
}

.category-label--path {
  fill: none;
}