.cta-container {
  margin-top: 30px;
  padding: 50px 30px 30px;
  background: $cyan;
  background: linear-gradient(130deg, rgba($cyanDark,1) 0%, rgba($cyanDark,1) 50%, rgba($cyanDark,.8) 100%);
  color: #fff;
  .cta {
    .tagline {
      margin: 30px 0;
      font-family: $fontSecondary;
      font-size: 3.6rem;
      line-height: 4.5rem;
    }
    p {
      max-width: 190px;
      font-size: 1.6rem;
      line-height: 2.6;
    }
    .btn {
      margin: 33px 0 25px;
    }
  }
}

.sticky {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  height: auto;
}