// Dropdowns container
.dropdowns-container {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  @media (min-height: 826px) {
    bottom: auto;
    top: 666px;
  }
  @media (max-width: $container) {
    left: $gutter;
    right: $gutter;
  }
}

// Labels
.dropdown-label--main {
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  color: $textDark;
  @media (max-width: $md) {
    margin-top: 10px;
  }
}
.dropdown-label {
  display: block;
  margin-bottom: 5px;
}

// Dropdowns
.dropdown {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid $text;
  border-radius: $radius;
  cursor: pointer;
  @media (max-width: $md) {
    margin-bottom: 10px;
  }

  // Header
  .dropdown-header {
    position: relative;
    height: 34px;
    .dropdown-selection {
      padding: 10px 40px 10px 10px;
      height: 34px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        margin-top: -3px;
      }
    }
  }

  // Arrow
  .dropdown-arrow--container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    .dropdown-arrow {
      position: absolute;
      z-index: -1;
      top: 10px;
      right: 15px;
      width: 15px;
      height: 15px;
      background-image: url(../svg/arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 150ms ease-out;
    }
  }

  // Options
  .dropdown-options {
    position: absolute;
    z-index: 100;
    top: 45px;
    left: -2px;
    right: -2px;
    overflow: hidden;
    max-height: 500px;
    margin-bottom: 100px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: 0px 1px 5px rgba($text, 0.6);
    transition: all 150ms ease-out;
    &.hide-options {
      max-height: 0 !important;
      padding: 0;
      box-shadow: none;
    }
    .option {
      padding: 8px 10px;
      background-color: transparent;
      transition: all 100ms ease-in;
      &:hover, &:focus {
        background-color: $text;
        color: #fff;
        transition: all 100ms ease-out;
      }
      &.active {
        font-weight: 600;
        background-color: transparent;
        cursor: default;
        &:hover, &:focus {
          color: $text;
        }
      }
    }
  }

  &.open {
    .dropdown-arrow {
      transform: rotateZ(180deg);
    }
  }
}

.dropdown-container {
  &.disabled {
    .dropdown {
      cursor: default;
    }
  }
}

// Swap dropdowns
.dropdown-container--swap {
  .dropdown-label,
  .dropdown-header .dropdown-selection,
  .dropdown-options .option {
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .icon-swap {
      margin: 0 8px;
      width: 20px;
      height: 20px;
      background-image: url(../svg/swap-grey.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &.reset {
      color: rgba($textPale, 0.6);
      &.hidden {
        display: none;
      }
    }
  }
  .dropdown-options .option {
    &:hover, &:focus {
      .icon-swap {
        background-image: url(../svg/swap-white.svg);
      }
    }
    &.reset {
      &:hover, &:focus {
        color: #fff;
        background-color: rgba($textPale, 0.6);
      }
    }
    &.active {
      background-color: transparent;
      .icon-swap {
        background-image: url(../svg/swap-grey.svg);
      }
      &.reset {
        color: rgba($textPale, 0.6);
        background-color: transparent;
      }
    }
  }
}

// Disabled dropdown
.dropdown-container.disabled {
  opacity: .3;
  cursor: default;
}
