// Dropdowns container
.dropdowns-container {
  position: absolute;
  bottom: 0;
  left: calc((100vw - 1200px) / 2 + 30px);
  right: calc((100vw - 1200px) / 2 + 30px);
  margin-bottom: 20px;
  @media (min-height: 826px) {
    bottom: auto;
    top: 666px;
  }
  @media (max-width: $container) {
    left: $gutter;
    right: $gutter;
  }
}

// Labels
.dropdown-label--main {
  margin-bottom: 6px;
  font-size: 1.6rem;
  font-weight: 700;
  color: $blue;
  @media (max-width: $md) {
    margin-top: 10px;
  }
}
.dropdown-label {
  display: block;
  margin-bottom: 5px;
  color: $blue;
}

// Dropdowns
.dropdown {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid $blue;
  border-radius: $radius;
  cursor: pointer;
  @media (max-width: $md) {
    margin-bottom: 10px;
  }

  // Header
  .dropdown-header {
    position: relative;
    height: 34px;
    .dropdown-selection {
      padding: 10px 40px 10px 10px;
      height: 34px;
      color: $blue;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Arrow
  .dropdown-arrow--container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    .dropdown-arrow {
      position: absolute;
      z-index: -1;
      top: 10px;
      right: 15px;
      width: 15px;
      height: 15px;
      background-image: url(../svg/arrow-blue.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 150ms ease-out;
    }
  }

  // Options
  .dropdown-options {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: -2px;
    right: -2px;
    overflow: hidden;
    max-height: 500px;
    margin-bottom: 100px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: 0px 1px 5px rgba($blue, 0.6);
    transition: all 150ms ease-out;
    &.hide-options {
      max-height: 0 !important;
      padding: 0;
      box-shadow: none;
    }
    .option {
      padding: 8px 10px;
      color: $blue;
      background-color: transparent;
      transition: all 100ms ease-in;
      &:hover, &:focus {
        background-color: $blue;
        color: #fff;
        transition: all 100ms ease-out;
      }
      &.active {
        font-weight: 700;
        color: $blue;
        background-color: transparent;
        cursor: default;
      }
    }
  }

  &.open {
    .dropdown-arrow {
      transform: rotateZ(180deg);
    }
  }
}

.dropdown-container {
  &.disabled {
    .dropdown {
      cursor: default;
    }
  }
}

// Swap dropdowns
.dropdown-container--swap {
  .dropdown {
    border-color: $pink;
  }
  .dropdown-label,
  .dropdown-header .dropdown-selection,
  .dropdown-options .option {
    color: $pink;
    &.reset {
      color: rgba($textPale, 0.6);
    }
  }
  .dropdown-options .option {
    &:hover, &:focus {
      background-color: $pink;
    }
    &.reset {
      &:hover, &:focus {
        color: #fff;
        background-color: rgba($textPale, 0.6);
      }
    }
    &.active {
      color: $pink;
      background-color: transparent;
      &.reset {
        color: rgba($textPale, 0.6);
        background-color: transparent;
      }
    }
  }
  .dropdown-arrow--container .dropdown-arrow {
    background-image: url(../svg/arrow-pink.svg);
  }
}

// Disabled dropdown
.dropdown-container.disabled {
  opacity: .3;
  cursor: default;
}
