// Dropdowns container
.dropdowns-container {
  margin-top: calc(100vh - 200px - 250px);
}

// Labels
.dropdown-label--main {
  margin-bottom: 6px;
  font-size: 1.8rem;
  font-weight: 700;
  color: $blue;
}
.dropdown-label {
  display: block;
  margin-bottom: 5px;
  color: $blue;
}

// Dropdowns
.dropdown {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  max-width: 350px;
  border: 2px solid $blue;
  border-radius: $radius;
  cursor: pointer;

  // Header
  .dropdown-header {
    position: relative;
    height: 40px;
    .dropdown-selection {
      padding: 10px 40px 10px 10px;
      height: 40px;
      color: $blue;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Arrow
  .dropdown-arrow--container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    .dropdown-arrow {
      position: absolute;
      z-index: -1;
      top: 11px;
      right: 15px;
      width: 18px;
      height: 18px;
      background-image: url(../svg/arrow-blue.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 150ms ease-out;
    }
  }

  // Options
  .dropdown-options {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: -2px;
    right: -2px;
    overflow: hidden;
    max-height: 500px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: 0px 1px 5px rgba($blue, 0.6);
    transition: all 150ms ease-out;
    &.hide-options {
      max-height: 0 !important;
      padding: 0;
      box-shadow: none;
    }
    .option {
      padding: 8px 10px;
      color: $blue;
      background-color: transparent;
      transition: all 100ms ease-in;
      &:hover, &:focus {
        background-color: $blue;
        color: #fff;
        transition: all 100ms ease-out;
      }
      &.active {
        font-weight: 700;
        color: $blue;
        background-color: transparent;
        cursor: default;
      }
    }
  }

  &.open {
    .dropdown-arrow {
      transform: rotateZ(180deg);
    }
  }
}

.dropdown-container {
  &.disabled {
    .dropdown {
      cursor: default;
    }
  }
}

.dropdown-container--swap {
  .dropdown-label {
    color: $orange;
  }
  .dropdown {
    border-color: $orange;
  }
}

// Disabled dropdown
.dropdown-container.disabled {
  opacity: .3;
  cursor: default;
}
