footer {
  margin-top: 200px;
  padding: 100px 0 20px;
  background: $textDark;
  color: $white;
  .footer-content {
    h2 {
      margin-bottom: 52px;
      font-size: 3rem;
      color: $white;
    }
    p {
      margin: 20px 0;
      font-size: 1.5rem;
    }
  }
  .btn {
    margin-top: 40px;
    margin-right: 20px;
    width: 132px;
  }

  .footer-bottom {
    margin-top: 150px;
    .icons,
    .copyright {
      font-size: 1.3rem;
      line-height: 1.2;
      @media (max-width: $md) {
        font-size: 1.1rem;
      }
    }
    .icons {
      a {
        color: $white;
        &:hover, &:focus {
          color: $cyan;
        }
      }
      @media (max-width: $md) {
        margin-bottom: 8px;
        margin-left: 2px;
      }
    }
    .copyright {
      text-align: right;
      @media (max-width: $md) {
        text-align: left;
      }
    }
  }
}