footer {
  margin-top: 100px;
  padding: 60px 0 40px;
  background: $textDark;
  color: #fff;

  // CTA
  .cta {
    .tagline {
      margin: 30px 0;
      font-family: $fontSecondary;
      font-size: 3.6rem;
      line-height: 4.5rem;
    }
    p {
      max-width: 190px;
      font-size: 1.6rem;
      line-height: 2.6;
    }
    .btn {
      margin: 33px 0 50px;
    }
  }

  // Copyright
  .copyright {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: right;
  }
}
