.footnotes-container {
  margin-top: 100px;
  .footnote-body {
    font-size: 1.5rem;
    line-height: 1.5;
    sup {
      font-size: 1rem;
    }
  }
  .sources-list {
    padding-left: 20px;
    font-size: 1.3rem;
    line-height: 1.2;
    li {
      margin: 10px 0;
    }
  }
}