.foodprint-title,
.foodprint-subtitle {
  position: relative;
  z-index: 10;
  text-align: center;
  color: $blue;
}
.foodprint-title {
  margin: 40px 0 5px;
  font-size: 3rem;
}
.foodprint-subtitle {
  margin-bottom: 30px;
  font-size: 1.6rem;
  .emphasis {
    font-weight: 700;
  }
}
