.right-col {
  border-left: 2px solid rgba($blue, .8);
}
.swap-impact--container {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  
  .impact-index {
    margin-bottom: 20px;
    text-align: center;
    .index-text {
      font-size: 1.6rem;
    }
    .index-number {
      margin-top: 2px;
      font-size: 2.1rem;
      font-weight: 700;
    }
  }
}