.index-circle {
  fill: $orange;
  fill-opacity: .1;
  transition: r 500ms ease;
}

.index-circle--external {
  fill: $orange;
  fill-opacity: .05;
  transition: all 250ms ease;
  &.active,
  &.active-tooltip {
    stroke-opacity: 0.2;
    stroke-width: 3;
  }
}

.foodprint-index--label {
  fill: $textDark;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
  &.foodprint-index--label--result {
    font-size: 1.5rem;
  }
  &.active,
  &.active-tooltip {
    font-size: 1.8rem;
  }
}