.index-circle {
  fill: $index;
  fill-opacity: .2;
  transition: r 500ms ease;
}

.index-circle--external {
  fill: $index;
  fill-opacity: .2;
  stroke: $index;
  stroke-width: 1;
  stroke-opacity: .3;
  transition: all 250ms ease;
  &.active,
  &.active-tooltip {
    stroke-width: 2;
    stroke-opacity: 1;
  }
}

.foodprint-index--label {
  fill: $index;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
  &.foodprint-index--label--result {
    font-size: 1.6rem;
  }
  &.active,
  &.active-tooltip {
    font-size: 1.8rem;
  }
}