.instructions--container {
  position: absolute;
  z-index: 100;
  left: -9000em;
  bottom: -9000em;
  width: 100vw;
  height: 100vh;
  background: transparent;
  opacity: 0;
  transition: opacity 250ms ease;
  &.visible {
    left: 0;
    top: 0;
    opacity: 1;
  }

  .instruction-hole {
    box-sizing: content-box;
    position: absolute;
    background: transparent;
    border: 100vw solid rgba(0, 0, 0, 0.4);
    border-radius: $radius;
    box-shadow: inset 1px 1px 2px 0 rgba(36,36,36,.3);
  }

  .instruction-box {
    position: absolute;
    z-index: 101;
    max-width: 300px;
    background: #fff;
    opacity: 0;
    transition: opacity 250ms ease;
    &.visible {
      opacity: 1;
    }
    .instruction {
      padding: 20px 45px 20px 20px;
      background: rgba(255, 255, 255, 0.95);
      border-radius: $radius;
      box-shadow: 0px 1px 5px rgba(36, 36, 36, 0.5);
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -13px;
      // left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      // border-width: 15px 15px 0 0;
      // border-color: #fff transparent transparent transparent;

      bottom: -9px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 10px 10px 0 10px;
      border-color: #fff transparent transparent transparent;
    }
  }
}