.node {
  stroke-width: 2;
  stroke: transparent;
  transition: stroke 200ms ease-in;
  transition: r 500ms ease;
  &.active {
    stroke: $textDark;
    transition: stroke 200ms ease-out;
  }
  &.appear {
    animation: 5000ms pulse-node;
    animation-timing-function: ease-out;
  }
}

@keyframes pulse-node {
  from {
    stroke: transparent;
  }
  10% {
    stroke: $textDark;
  }
  50% {
    stroke: textDark;
  }
  to {
    stroke: transparent;
  }
}