select.dropdown {
  height: 34px;
  background-color: #fff;
  background-image: none;
  &:disabled {
    cursor: default;
  }
}

// @media (max-width: $md) {
//   .dropdown-container {
//     position: relative;
//     &:after {
//       content: '';
//       position: absolute;
//       top: 33px;
//       right: 20px;
//       width: 30px;
//       height: 28px;
//       background-color: #fff;
//       background-image: url(../svg/arrow.svg);
//       background-repeat: no-repeat;
//       background-size: 18px;
//       background-position: center;
//     }
//   }
// }
