#tooltip,
#tooltip-swap-impact,
#tooltip-category {
  .tooltip--ingredient {
    display: inline-block;
    margin-bottom: 10px;
    font-family: $fontSecondary;
    font-size: 2.3rem;
    color: $textDark;
    border-bottom: 1px solid $textDark;
  }
  .tooltip--meal,
  .tooltip--portion {
    margin-bottom: 4px;
    padding-left: 3px;
    font-size: 1.3rem;
  }
  .tooltip--foodprint-index {
    margin-top: 5px;
    padding-left: 3px;
    font-weight: 600;
    line-height: 1.6;
    color: $textDark;
  }
  .tooltip--details {
    .detail {
      position: relative;
      padding-left: 15px;
      line-height: 1.6;
      span {
        font-weight: 600;
        color: $textDark;
      }
      sup,
      sub {
        font-size: .6rem;
      }
      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 3px;
        width: 5px;
        height: 5px;
        background: $text;
        border-radius: 50%;
      }
      &.detail--land::before {
        background: $land;
      }
      &.detail--gas::before {
        background: $gas;
      }
      &.detail--water::before {
        background: $water;
      }
      &.detail--eutro::before {
        background: $eutro;
      }
      &.detail--cost::before {
        background: $cost;
      }
    }
  }
}
#tooltip,
#tooltip-swap-impact,
#tooltip-category,
.instructions--container {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-image: url(../svg/close.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
    opacity: .6;
    cursor: pointer;
    transition: opacity 250ms ease;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}

// Nodes tooltip
#tooltip,
#tooltip-swap-impact {
  position: relative;
  z-index: 100;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  .tooltip--container {
    position: static;
    width: 100%;
  }
}
#tooltip {
  transition: all 100ms ease-out;
  transition-delay: 200ms;
  &.visible {
    max-height: 500px;
    opacity: 1;
    transition: all 350ms ease-out;
  }
  @media (max-width: $sm) {
    max-height: 0;
    padding: 20px 20px 0;
    border-radius: $radius;
    box-shadow: 0px 1px 5px rgba(36, 36, 36, 0.5);
    &.visible {
      max-height: none;
      .tooltip--header {
        position: relative;
      }
      .tooltip--ingredient {
        margin-right: 25px;
        margin-bottom: 20px;
      }
      .tooltip--toggle {
        position: absolute;
        top: 4px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid rgba($textDark, .6);
        border-radius: 50%;
        cursor: pointer;
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          border-bottom: 2px solid $textDark;
          transform: translate(-50%, -50%) rotate(0);
          transition: all 250ms ease;
        }

        // Closed state
        &.closed {
          &:before {
            transform: translate(-50%, -50%) rotate(90deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }
      .tooltip--content {
        overflow: hidden;
        max-height: 300px;
        padding-bottom: 20px;
        opacity: 1;
        transition: max-height 250ms ease;
        &.close {
          max-height: 0;
          padding-bottom: 0;
          opacity: 0;
        }
      }
    }
  }
}
#tooltip-swap-impact.visible.show-content {
  max-height: 700px;
  opacity: 1;
  transition: all 350ms ease-out;
  transition-delay: 400ms;
}

// Category tooltips
#tooltip-category {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: -1000px;
  left: -1000px;
  .tooltip--container {
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 400px;
    padding: 20px;
    padding: 20px $gutter/2;
    background: rgba(255, 255, 255, 0.95);
    border-radius: $radius;
    box-shadow: 0px 1px 5px rgba(36, 36, 36, 0.5);
  }
  
  // Title
  .category-title {
    .category-detail {
      margin-bottom: 4px;
      font-weight: 600;
      &.land { color: $land; }
      &.gas { color: $gas; }
      &.water { color: $water; }
      &.eutro { color: $eutro; }
      &.cost { color: $cost; }
      &.index { color: $index; }
      &.hidden {
        display: none;
      }
    }
  }

  // Fact
  .tooltip--fact {
    font-size: 1.2rem;
    font-style: italic;
    &.fact-index {
      display: block;
      padding-bottom: 40px;
      background-image: url(../svg/index-formula.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 300px auto;
      span {
        display: block;
        margin: 1rem 0;
      }
    }
  }
  .quote {
    position: relative;
    font-style: italic;
  }
  sup {
    padding-left: 2px;
    font-size: 1rem;
  }
}