#tooltip,
#tooltip-swap-impact,
#tooltip-category {
  .tooltip--ingredient {
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 3px;
    border-bottom: 1px solid $text;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .tooltip--meal,
  .tooltip--portion {
    margin-bottom: 4px;
    padding-left: 3px;
    font-size: 1.3rem;
  }
  .tooltip--details {
    .tooltip--foodprint-index {
      padding-left: 3px;
      font-weight: 700;
      line-height: 1.6;
    }
    .detail {
      position: relative;
      padding-left: 15px;
      line-height: 1.6;
      span {
        font-weight: 700;
      }
      sup,
      sub {
        font-size: .6rem;
      }
      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 3px;
        width: 5px;
        height: 5px;
        background: $text;
        border-radius: 50%;
      }
      &.detail--land::before {
        background: $land;
      }
      &.detail--gas::before {
        background: $gas;
      }
      &.detail--water::before {
        background: $water;
      }
      &.detail--eutro::before {
        background: $eutro;
      }
      &.detail--cost::before {
        background: $cost;
      }
    }
  }
}
#tooltip,
#tooltip-swap-impact,
#tooltip-category,
.instructions--container {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-image: url(../svg/close.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
    opacity: .6;
    cursor: pointer;
    transition: opacity 250ms ease;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}

// Nodes tooltip
#tooltip,
#tooltip-swap-impact {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 0;
  opacity: 0;
  .tooltip--container {
    position: static;
    width: 100%;
  }
  &.visible {
    height: auto;
    opacity: 1;
    transition: all 200ms ease;
  }
}

// Category tooltips
#tooltip-category {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: -1000px;
  left: -1000px;
  .tooltip--container {
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 400px;
    padding: 20px;
    padding: 20px $gutter/2;
    background: rgba(255, 255, 255, 0.95);
    border-radius: $radius;
    box-shadow: 0px 1px 5px rgba(36, 36, 36, 0.5);
  }
  
  // Title
  .category-title {
    .category-detail {
      margin-bottom: 4px;
      font-weight: 700;
      &.land { color: $land; }
      &.gas { color: $gas; }
      &.water { color: $water; }
      &.eutro { color: $eutro; }
      &.cost { color: $cost; }
      &.hidden {
        display: none;
      }
    }
  }

  // Fact
  .tooltip--fact {
    font-size: 1.2rem;
    font-style: italic;
  }
  .quote {
    position: relative;
    font-style: italic;
  }
  sup {
    padding-left: 2px;
    font-size: 1rem;
  }
}